@model IEnumerable<SkrotlogMVC.Models.Customer>
@{
    ViewData["Title"] = "CreateContract";
}

<div class="container">
    <div class="col-lg-4">
        <h2>Opret Kontrakt</h2>
    </div>
    <div class="col-lg-7 col-lg-offset-1">
        <h2>Opret Kontraktlinjer</h2>
    </div>
    <form method="post">
        <div class="col-lg-4 panel panel-default">
            <div class="panel-body">
                <div class="form-group row">
                    <label for="customer">Vælg kunde</label>
                    <select class="form-control" name="customer">
                      @foreach (Customer c in Model)
                      {
                        <option>@c.Name</option>
                      }
                    </select>
                </div>
                <div class="form-group row">
                    <label for="currency">Vælg valuta</label>
                    <select class="form-control" name="currency">
                        <option>DKK</option>
                        <option>EUR</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="contractLines">
                <div class="contractLine panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="contractLineArray[][0]">Vælg matriale</label>
                            <select class="form-control" name="contractLineArray[][0]">
                                <option>Jern</option>
                                <option>Hest</option>
                                <option>Bæver</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contractLineArray[][0]">Angiv enhedspris</label>
                            <input type="text" class="form-control" name="contractLineArray[][0]" />
                        </div>
                        <div class="form-group">
                            <label for="contractLineArray[][0]">Angiv mængde</label>
                            <input type="text" class="form-control" name="contractLineArray[][0]" />
                        </div>
                        <div class="form-group">
                            <label for="contractLineArray[][0]">Kommentar</label>
                            <textarea class="form-control" rows="3" name="contractLineArray[][0]"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <p class="plus"><span class="glyphicon glyphicon-plus"></span> Tilføj linje</p>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <p> <button type="submit" class="btn btn-primary">Gem kontrakt</button></p>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script type="text/javascript" src="~/js/skrotlog.js"></script>
}