@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-lg-12">
        <h2>Oversigt af kontrakter</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-5">
        <p>Vis inaktive kontrakter <input type="checkbox" /></p>

    </div>
    <div class="col-lg-2">
        <p>Kunde <input type="text" size="11" /></p>
    </div>
    <div class="col-lg-2">
        <button>Søg</button>
    </div>
    <div class="col-lg-10">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Dato</th>
                    <th scope="col">Opkøber</th>
                </tr>
            </thead>
            <tbody>
                <tr class="contract">
                    <td>1</td>
                    <td>dato 1 01/01/1010</td>
                    <td>Torbens Stål</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>QWE</th>
                                    <th>QWE</th>
                                    <th>QWE</th>
                                    <th>QWE</th>
                                    <th>QWE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                </tr>
                                <tr>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                </tr>
                                <tr>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                </tr>
                                <tr>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                </tr>
                                <tr>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                    <td>Ting</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>dato 2 10/10/1010</td>
                    <td>Rosens Jern</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>dato 3 20/20/2001</td>
                    <td>Martins Smeltehus</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>dato 4 30/30/3001</td>
                    <td>Sørens Ovn</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>