@model SkrotlogMVC.Models.BL.RepositoryFacade
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-lg-12">
        <h2>Oversigt af kontrakter</h2>
    </div>
    <div class="col-lg-2 col-lg-offset-5">
        <p>Vis inaktive kontrakter <input type="checkbox" /></p>
    </div>
    <div class="col-lg-2">
        <p>Kunde <input type="text" size="11" /></p>
    </div>
    <div class="col-lg-2">
        <button>Søg</button>
    </div>
    <div class="col-lg-10">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Dato</th>
                    <th scope="col">Opkøber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Contract c in Model.ContractCollection)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Date.ToString("dd-MM-yyyy")</td>
                        <td>@c.Customer.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>